<div id='main-content-wp' class='list-product-page'>
  <div class='wrap clearfix'>
    <div id='sidebar' class='fl-left'>
      <ul id='sidebar-menu'>
        <li class='nav-item'>
          <a href='' title='' class='nav-link nav-toggle'>
            <span class='fa fa-product-hunt icon'></span>
            <span class='title'>Sản phẩm</span>
          </a>
          <ul class='sub-menu'>
            <li class='nav-item'>
              <a
                href='/admin/products/add'
                title='Thêm mới'
                class='nav-link'
              >Thêm mới</a>
            </li>
            <li class='nav-item'>
              <a
                href='/admin/products'
                title='Danh sách
                sản phẩm'
                class='nav-link'
              >Danh sách sản phẩm</a>
            </li>
            <li class='nav-item'>
              <a
                href='/admin/category'
                title='Danh mục sản
                phẩm'
                class='nav-link'
              >Danh mục sản phẩm</a>
            </li>
          </ul>
        </li>
        <li class='nav-item'>
          <a href='' title='' class='nav-link nav-toggle'>
            <span class='fa fa-database icon'></span>
            <span class='title'>Bán hàng</span>
          </a>
          <ul class='sub-menu'>
            <li class='nav-item'>
              <a
                href='/admin/order'
                title='Danh sách đơn
                hàng'
                class='nav-link'
              >Danh sách đơn hàng</a>
            </li>
          </ul>
        </li>
        <li class='nav-item'>
          <a href='#' title='' class='nav-link nav-toggle'>
            <i class='fa fa-comment' aria-hidden='true'></i>
            <span class='title'>Bình luận</span>
          </a>
          <ul class='sub-menu'>
            <li class='nav-item'>
              <a href='/admin/comment' title='' class='nav-link'>Danh sách bình
                luận</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div id='content' class='fl-right'>
      <div class='section' id='title-page'>
        <div
          class='clearfix'
          style='display: flex;
        align-items: center;
        '
        >
          <div>
            <h3 id='index' class='fl-left'>Danh sách sản phẩm</h3>
            <a
              href='/admin/products/add'
              title=''
              id='add-new'
              class='fl-left'
            >Thêm mới</a>
          </div>
          <form method='GET' class='form-s fl-right' style='margin-left: auto;'>
            <input type='text' name='q' id='s' />
            <input type='submit' value='Tìm kiếm' />
          </form>
        </div>
        <div class='actions'>
          <form method='GET' action='/admin/products' class='form-actions'>
            <select name='catalogs'>
              {{#each catalogs}}
                <option
                  value='{{slug}}'
                  {{setActive this.slug ../slugCategory}}
                >{{this.title}}</option>
              {{/each}}
            </select>
            <input type='submit' value='Áp dụng' />
          </form>
        </div>
      </div>
      <div class='section' id='detail-page'>
        <div class='section-detail'>
          <div class='filter-wp clearfix'>
            <ul class='post-status fl-left'>
              <li class='all'><a href=''>Tất cả
                  <span class='count'>({{counted}})</span></a>
                |</li>
              <li class='pending'><a href=''>Thùng rác<span
                    class='count'
                  >(0)</span></a></li>
            </ul>
          </div>
          <div class='table-responsive'>
            <table class='table list-table-wp'>
              <thead>
                <tr>
                  <td><span class='thead-text'>STT</span></td>
                  <td><span class='thead-text'>Mã sản phẩm</span></td>
                  <td><span class='thead-text'>Hình ảnh</span></td>
                  <td><span class='thead-text'>Tên sản phẩm</span></td>
                  <td><span class='thead-text'>Giá</span></td>
                  <td><span class='thead-text'>Sale</span></td>
                  <td><span class='thead-text'>Số lượng</span></td>
                  <td><span class='thead-text'>Ngày tạo</span></td>
                  <td><span class='thead-text'>Ngày cập nhật</span></td>
                  <td colspan='2'><span class='thead-text'>Thao tác</span></td>
                </tr>
              </thead>
              <tbody>
                {{#if products}}
                  {{#each products}}
                    <tr>
                      <td><span class='tbody-text'>{{@index}}</span></td>
                      <td><span class='tbody-text'>{{this.code}}</span></td>
                      <td>
                        <img
                          src='/images/{{this.thumb.fileName}}'
                          alt='{{this.name}}'
                          style='width: 100px;
                          height: 100px; object-fit: cover;'
                        />
                      </td>
                      <td>
                        <a
                          href='/products/details/{{this._id}}'
                          title='{{this.name}}'
                        >{{this.name}}</a>
                      </td>
                      <td><span class='tbody-text'>{{format
                            this.price
                          }}</span></td>
                      <td><span
                          class='tbody-text'
                        >{{this.discount}}%</span></td>
                      <td><span class='tbody-text'>{{this.quantity}}</span></td>
                      <td><span class='tbody-text'>{{formatDate
                            this.createdAt
                          }}</span></td>
                      <td><span class='tbody-text'>{{formatDate
                            this.updatedAt
                          }}</span></td>
                      <td>
                        <a
                          href='/admin/products/edit/{{this._id}}'
                          class=''
                        >Sửa</a>
                        |
                        <a
                          href='/admin/products/delete/{{this._id}}'
                          class=''
                        >Xoá</a>
                      </td>
                    </tr>
                  {{/each}}
                {{else}}
                  <tr>
                    <td colspan='10' style='text-align: center;'>Chưa có sản
                      phẩm nào.
                      <a href='/admin/products/add'>Tạo mới sản phẩm ngay</a></td>
                  </tr>
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class='section' id='paging-wp'>
        Pagination
      </div>
    </div>
  </div>
</div>