<div id='main-content-wp' class='list-product-page'>
  <div class='wrap clearfix'>
    <div id='sidebar' class='fl-left'>
      <ul id='sidebar-menu'>
        <li class='nav-item'>
          <a href='' title='' class='nav-link nav-toggle'>
            <span class='fa fa-product-hunt icon'></span>
            <span class='title'>Sản phẩm</span>
          </a>
          <ul class='sub-menu'>
            <li class='nav-item'>
              <a
                href='/admin/products/add'
                title='Thêm mới'
                class='nav-link'
              >Thêm mới</a>
            </li>
            <li class='nav-item'>
              <a
                href='/admin/products'
                title='Danh sách
                sản phẩm'
                class='nav-link'
              >Danh sách sản phẩm</a>
            </li>
            <li class='nav-item'>
              <a
                href='/admin/category'
                title='Danh mục sản
                phẩm'
                class='nav-link'
              >Danh mục sản phẩm</a>
            </li>
          </ul>
        </li>
        <li class='nav-item'>
          <a href='' title='' class='nav-link nav-toggle'>
            <span class='fa fa-database icon'></span>
            <span class='title'>Bán hàng</span>
          </a>
          <ul class='sub-menu'>
            <li class='nav-item'>
              <a
                href='/admin/order'
                title='Danh sách đơn
                hàng'
                class='nav-link'
              >Danh sách đơn hàng</a>
            </li>
          </ul>
        </li>
        <li class='nav-item'>
          <a href='#' title='' class='nav-link nav-toggle'>
            <i class='fa fa-comment' aria-hidden='true'></i>
            <span class='title'>Bình luận</span>
          </a>
          <ul class='sub-menu'>
            <li class='nav-item'>
              <a href='/admin/comment' title='' class='nav-link'>Danh sách bình
                luận</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div id='content' class='fl-right'>
      <div class='section' id='title-page'>
        <div
          class='clearfix'
          style='display: flex;
        align-items: center;'
        >
          <div class='wrapper-title'>
            <h3 id='index' class='fl-left'>Danh sách danh mục</h3>
            <a
              href='/admin/category/add'
              title=''
              id='add-new'
              class='fl-left'
            >Thêm mới</a>
          </div>
          <form method='GET' class='form-s fl-right' style='margin-left: auto;'>
            <input type='text' name='s' id='s' />
            <input type='submit' name='sm_s' value='Tìm kiếm' />
          </form>
        </div>
      </div>
      <div class='section' id='detail-page'>
        <div class='section-detail'>
          <div class='filter-wp clearfix'>
            <ul class='post-status fl-left'>
              <li class='all'><a href=''>Tất cả
                  <span class='count'>({{counted}})</span></a>
              </li>
            </ul>
          </div>
          <div class='table-responsive'>
            <table class='table list-table-wp'>
              <thead>
                <tr>
                  <td><span class='thead-text'>STT</span></td>
                  <td><span class='thead-text'>Tiêu đề</span></td>
                  <td><span class='thead-text'>Slug</span></td>
                  <td><span class='thead-text'>Ngày tạo</span></td>
                  <td><span class='thead-text'>Ngày cập nhật</span></td>
                  <td colspan='2'><span class='thead-text'>Thao tác</span></td>
                </tr>
              </thead>
              <tbody>
                {{#each listCategory}}
                  <tr>
                    <td><span class='tbody-text'>{{@index}}</span></td>
                    <td><span class='tbody-text'>{{this.title}}</span></td>
                    <td><span class='tbody-text'>{{this.slug}}</span></td>
                    <td><span class='tbody-text'>{{this.createdAt}}</span></td>
                    <td><span class='tbody-text'>{{this.updatedAt}}</span></td>
                    <td>
                      <a
                        href='/admin/category/edit/{{this._id}}'
                        class=''
                      >Sửa</a>
                      |
                      <a
                        href=''
                        class=''
                        data-id='{{this._id}}'
                        id='delete-category'
                        data-bs-toggle='modal'
                        data-bs-target='#confirm-modal'
                      >Xoá</a>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{! Modal }}
<div
  class='modal fade'
  id='confirm-modal'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='exampleModalLabel'>Bạn muốn xoá danh
          mục này?</h1>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        Điều này sẽ khiến danh mục bị mất vĩnh viễn. Vẫn tiếp tục?
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          id='confirm-btn-modal'
          class='btn btn-secondary'
        >Save changes</button>
        <button
          type='button'
          class='btn btn-primary'
          data-bs-dismiss='modal'
          style='background-position: unset;'
        >Close</button>
      </div>
    </div>
  </div>
</div>

<form name='form-delete-category' method='POST'></form>

{{! Script }}
<script>
  const form = document.forms['form-delete-category']; const
  buttonDeleteCategory = document.querySelectorAll('#delete-category');
  [...buttonDeleteCategory].forEach(function (btn) {
  btn.addEventListener('click', function (e) { e.preventDefault(); const
  productID = e.target.dataset.id; console.log(productID); const confirmBtn =
  document.getElementById('confirm-btn-modal');
  confirmBtn.addEventListener('click', function () { const action =
  `/admin/category/delete/${productID}?_method=DELETE`; form.action = action;
  form.submit(); }); }); }); const inputSearch =
  document.querySelector("input[name='s']");
</script>